<head>
  <link rel="icon" href="/img/pig.ico" type="image/x-icon">
</head>
<body>
  <script>history.pushState({}, null, '/');</script>
  <%- include("./header.ejs") %>
  
       
        <%if(!locals.name){%>
          <%- include("./login.ejs") %>
        <%}else{%>
          <p id="hello-user">hello <%=name%></p>
          <main>
          <div id="itemContainer">
            <p style="font-size: 1rem; text-align: start; margin: 10px;">occasional payments:</p>
            <ul>
              <%if(locals.occasional&&locals.occasional.length>0){%>
                <li><pre>name:     price:      date:</pre></li>
                <% for(var i=0;i<occasional.length;i++){%>
                  <li>
                    <pre><%=occasional[i].title%>    <%=occasional[i].amount%>    <%=occasional[i].date%></pre>
                  </li>
                <%}%>
              <%}else{%>
                <p>no items</p>
              <%}%>
              <li >
                <p>add occasional payment:</p>
                
                <form style="display: flex; flex-direction: row;" action="<%="/occasionalpayments/"+locals.id%>" method="post">
                  <label>title:</label>
                  <input name="title" required/>
                  <label>amount of money:</label>
                  <input name="amount" type="number" required/>
                  <button  type="submit">+</button>
                </form>
              </li>
              </ul>
          <%if(locals.items){%>
            <%for (var i = 0; i < items.length; i++) {%>
              <div class="<%="item "+items[i].type%>" >
                <h1>
                  <%=items[i].title%>
                </h1>
                <p>
                  <%=items[i].content%>
                </p>
                </div>
          <%}%>
          <%}%>
          
        </div>
        <div class="item add-payment" >
          <h1>
            add regular payment
          </h1>
          
         <form action="<%="/regularpayment/"+locals.id%>" method="post">
          <label>title</label>
          <input name="title" required/>
          <labe>type</labe>
          <select name="type" required>
            <option value="savings">savings</option>
            <option value="transpotation">transpotation</option>
            <option value="contribution">contribution</option>
            <option value="subscriptons">subscriptons</option>
            <option value="other">other</option>
          </select>
          <label>amount of money:</label>
          <input name="amount" type="number" required/>
          <button  type="submit">+</button>
        </form>
          </div>
        <%}%>
      </main>
      <script>history.pushState({}, null, '/');</script>
</body>